<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @post.rank %>
</p>

<h4>Published: <%= @post.formatted_created_at %> or <%= @post.created_at %></h4>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
